<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Shower Presentation Engine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=792, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="http://shwr.me/shower/themes/ribbon/styles/screen.css">
    <script src="/public/javascripts/qrcode.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body class="list">
<header class="caption">
    <h1>Dujavu</h1>
    <p>Preview</p>
</header>

<section class="slide"><div>
    <a id="kakao-link-btn" href="javascript:takeMaster()">
        <img style="width:50px;height:50px;" src="http://dn.api1.kage.kakao.co.kr/14/dn/btqa9B90G1b/GESkkYjKCwJdYOkLvIBKZ0/o.jpg" />
    </a>

    <a  href="javascript:play()">
        <img style="width:50px;height:50px;" src="http://dn.api1.kage.kakao.co.kr/14/dn/btqa9B90G1b/GESkkYjKCwJdYOkLvIBKZ0/o.jpg" />
    </a>

    <center>
        <div id="qrcode"></div>
        <br/>
        <h1 id="link"></h1>
    </center>

    <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), location.href);
        document.getElementById("link").innerText = location.href;
    </script>

    <script>
        Kakao.init('');

        function sendLink() {
            Kakao.Link.createTalkLinkButton({
              container: '#kakao-link-btn',
              label: 'Presentation share',
              webButton: {
                text: 'Presentation share',
                url: location.href
              }
            });
        }
    </script>

</div></section>
