<div class="progress"><div></div></div>
<script src="/public/javascripts/shower.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="//cdn.webrtc-experiment.com/RecordRTC.js"></script>
<script>
    window.isMaster = false;
    var socket = io.connect('http://WAS-SERVER-IP');
    window.actionList = [];


    shower.onChangeListener = function(older, newer){
        if(window.isMaster === true) {
            list.push({'time':Date.now() - startAtTime, 'slide' : newer});
            socket.emit('fromclient', {msg: '' + newer});
        }
    };

    socket.on('toclient',function(data){
        console.log(data.msg);
        if(window.isMaster === false){
            shower.go(parseInt(data.msg));
        }
    });

    function play(){
        window.open(url);
        startAtTime = Date.now();
        window.isMaster = false;

        setInterval(function(){
            var index = 1;
            for(var i = 0; i < actionList.length; i ++){
                if( actionList[i].time > Date.now() - startAtTime ){
                    break;
                }

                console.log(actionList[i].time + ":" + (Date.now() - startAtTime );
                index = i;
            }
            if( shower.getCurrentSlideNumber() !== index){
                shower.go(i);
            }

        }, 500);
    }


    socket.on('sign',function(data){
        console.log(data.msg);
    });

    var url = "";
    var startAtTime = 0;
    function takeMaster(){
        window.isMaster = true;
        if(window.rec === false) {
            startAtTime = Date.now();
            startRecording();
            window.rec = true;
        }else{
            window.isMaster = false;
            recorder.stopRecording(function(audioURL) {
                window.open(audioURL);
                url = audioURL;
                startAtTime = Date.now();
                console.log(window.list);
            });
        }
    }


    var saveData = (function () {
        var a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        return function (data, fileName) {
            var json = JSON.stringify(data),
                    blob = new Blob([json], {type: "octet/stream"}),
                    url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = fileName;
            a.click();
            window.URL.revokeObjectURL(url);
        };
    }());

    function upload(){
        var recordedBlob = window.recorder.getBlob();
        window.recorder.getDataURL(function(dataURL) {
            $.post('/save',
            {
                id : slideid,
                audio : dataURL,
                actions : actionList
            },

            function(url){
                alert("성공적으로 저장되었습니다.");
                window.open(url);
            })
        });
    }

    function saveToDisk(){
        window.recorder.writeToDisk();
    }

    // var data = { s: "", d: new Date() }, fileName = "record.ogg";
    // saveData(data, fileName);

    function startRecording(){
        navigator.getUserMedia({ audio: true, video: false}, function(stream) {
            if (window.IsChrome) stream = new window.MediaStream(stream.getAudioTracks());
            audioStream = stream;

            // "audio" is a default type
            window.recorder = window.RecordRTC(stream, {
                type: 'audio',
                bufferSize: 16384,
                sampleRate: 44100,
                leftChannel: false,
                disableLogs: false
            });
            recorder.startRecording();
        }, function() {});
    }

    window.rec = false;

</script>

</body>
</html>
