<div class="progress"><div></div></div>
<script src="/public/javascripts/shower.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="//cdn.webrtc-experiment.com/RecordRTC.js"></script>
<script>
    window.actionList = auctions;

    function play(){
        window.open(url);
        startAtTime = Date.now();
        window.isMaster = false;

        setInterval(function(){
            var index = 1;
            for(var i = 0; i < actionList.length; i ++){
                if( actionList[i].time > Date.now() - startAtTime ){
                    break;
                }

                console.log(actionList[i].time + ":" + (Date.now() - startAtTime );
                index = i;
            }
            if( shower.getCurrentSlideNumber() !== index){
                shower.go(i);
            }

        }, 500);
    }

    play();

</script>

</body>
</html>
